/* CSS Variables */
:root {
    --color-ghost-white: #F7F7FF;
    --color-copper-red: rgb(207, 95, 58);
    --color-mountain-meadow: rgb(34, 191, 149);
    --color-carolina-blue: #279AF1;
    --color-black-coral: #60656F;
    --color-smoky-black: #131112;
    --color-black-olive: #343633;
    --color-space-cadet: rgb(32, 30, 80);
    --color-corn: #F5E960;
    /* --color-xiketic: #1C0B19; */
    /* --navbar-height: 55px;
    --navbar-offset: 75px;
    --main-body-height: 75vh;
    --day-tab-width: 96px; */
}

/* Fonts */
@font-face {
  font-family: 'chiller';
  src: url('../../fonts/CHILLER.TTF')  format('truetype');
}

/* General styling */
html {
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

section {
    height: calc(100% - 72px - 68px);
}

footer p {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem;
}

/* .logo {
    display: flex;
} */

.logo-img {
    height: 42px;
    object-fit: cover;
}

.logo-text {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 2rem;
    
}

/* Utility classes */
.hide {
    display: none !important;
    opacity: 0;
}

/* Backgrounds, text colors */
/* .background-columbia-blue-gradient {
    background: rgb(210,236,255);
    background: linear-gradient(rgba(210,236,255,1) 0%, rgba(129,166,211,1) 100%);
} */

.background-ghost-white {
    background-color: var(--color-ghost-white);
}

.background-copper-red {
    background-color: var(--color-copper-red);
}

.background-mountain-meadow {
    background-color: var(--color-mountain-meadow);
}

.background-carolina-blue {
    background-color: var(--color-carolina-blue);
}

/* .background-little-boy-blue-gradient {
    background: rgb(129,166,211);
    background: linear-gradient(rgba(93,115,167,1) 0%, rgba(28,11,25,1) 100%);
} */

.background-black-coral {
    background-color: var(--color-black-coral);
}

.background-smoky-black {
    background-color: var(--color-smoky-black);
}

/* .background-dark-cornflower-blue-gradient {
    background: rgb(57,64,123);
    background: linear-gradient(rgba(57,64,123,1) 0%, rgba(28,11,25,1) 100%);
} */

.background-black-olive {
    background-color: var(--color-black-olive);
}


.background-space-cadet {
    background-color: var(--color-space-cadet);
}

.background-space-cadet-gradient {
    background: rgb(32, 30, 80);
    background: linear-gradient(rgb(32, 30, 80) 0%, #8E8EFF 100%);
}

.background-corn {
    background-color: var(--color-corn);
}

.text-ghost-white {
    color: var(--color-ghost-white) !important;
}

.text-copper-red {
    color: var(--color-copper-red);
}

.text-mountain-meadow {
    color: var(--color-mountain-meadow);
}

.text-carolina-blue {
    color: var(--color-carolina-blue);
}

.text-black-coral {
    color: var(--color-black-coral);
}

.text-smoky-black {
    color: var(--color-smoky-black) !important;
}

.text-black-olive {
    color: var(--color-black-olive);
}

.text-space-cadet {
    color: var(--color-space-cadet);
}

.text-corn {
    color: var(--color-corn);
}

/* Buttons */


.btn {
    text-decoration: none;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-smoky-black);
    padding: 0.2rem 1.25rem 0.1rem 1.25rem;
    margin-bottom: 0.5rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
}

.side-btn {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
}

.control-btn {
    text-decoration: none;
    font-size: 1.25rem;
    width: auto;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 1em;
}

.btn-invert {
    background-color: var(--color-ghost-white);
}

.btn::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: var(--color-carolina-blue);
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn:active::before,
.btn:focus::before,
.btn:hover::before {
    transform: scaleX(1);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}





/* a:hover {
    color: var(--color-ghost-white);
} */

.btn span,
.side-btn {
    color: var(--color-ghost-white);
    position: relative;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn-invert span {
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.control-btn span {
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.control-btn:active span,
.control-btn:focus span,
.control-btn:hover span {
    color: var(--color-carolina-blue);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled span {
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled:active::before,
.btn.disabled:focus::before,
.btn.disabled:hover::before {
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}


/* Frontpage logo animation */
.face {
    position: absolute;
    width: 125px;
    height: 125px;
    line-height: 125px;
    font-size: 125px;
    text-align: center;
}

.perspective-box-far {
    width: 125px;
    height: 125px;
    transform-style: preserve-3d;
    margin: auto;
    transition: all 0.3s ease-in;
    transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    animation: floating 1.5s alternate backwards infinite ease-in-out;
}

.top {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    animation: floating-top 1.5s alternate backwards infinite ease-in-out;
}

.left {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    animation: floating-left 1.5s alternate backwards infinite ease-in-out;
}

.front {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: translate3d(0, 0, 62.5px);
    animation: floating-front 1.5s alternate backwards infinite ease-in-out;
}

@keyframes floating {
    0%   {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    }
    100% {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg) translateY(-15px);
    }
}
@keyframes floating-top {
    0%   {
        transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateX(90deg) translate3d(0, 0, 67.5px);
    }
}
@keyframes floating-left {
    0%   {
        transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateY(-90deg) translate3d(-5px, 5px, 67.5px);
    }
}
@keyframes floating-front {
    0%   {
        transform: translate3d(0, 0, 62.5px);
    }
    100% {
        transform: translate3d(5px, 5px, 67.5px);
    }
}

.loader-wrapper {
    animation: loader 1.5s forwards ease-in-out;
}

.loader-face-front {
    animation: loader-front 1.5s forwards ease-in-out;
}

.loader-face-top {
    animation: loader-top 1.5s forwards ease-in-out;
}

.loader-face-left {
    animation: loader-left 1.5s forwards ease-in-out;
}

@keyframes loader {
    0%   {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    }
    100% {
        transform: perspective(0) rotateX(0) rotateY(0) translateY(0);
    }
}
@keyframes loader-top {
    0%   {
        transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateX(0) translate3d(0, 0, 0);
    }
}
@keyframes loader-left {
    0%   {
        transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateY(0) translate3d(0, 0, 0);
    }
}
@keyframes loader-front {
    0%   {
        transform: translate3d(0, 0, 62.5px);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.strip-background-border {
    background: none;
    border: none;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
}

.start-loader {
    animation: loader-start 1.5s alternate backwards infinite cubic-bezier(.175,.885,.32,1.275);
}

@keyframes loader-start {
    0%   {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

.button-dissapear {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    max-width: 0;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

#front-page-main-content-wrapper {
    transform: scale(1);
    max-height: 10000px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.roll-up {
    max-height: 0px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.logo-disappear {
    animation: none;
    transform: scale(0);
    transition: all 0.3s ease-in;
}

.logo-enlarge {
    transform: scale(1.75);
    transition: all 0.5s cubic-bezier(.87,2.5,.81,.35);
}

.hidden {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    max-width: 0;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.buttons-wrapper {
    height: 100%;
    max-height: 175px;
}

.button-wrapper-primary {
    height: 100%;
}

.button-wrapper-secondary {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#options-wrapper {
    position: absolute;
    z-index: 100;
    top: 72px;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100% - 72px - 68px);
    width: 100%;
    /* padding: 2rem; */
    background-color: var(--color-ghost-white);
    max-height: 10000px;
    transition: all .5s ease;
}

#options-wrapper ul {
    opacity: 1;
    transition: all .5s ease;
}

#options-wrapper.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0;
    transition: all .5s ease;
}

#options-wrapper.hidden-options ul {
    opacity: 0;
    transition: all .5s ease;
}

.shrink {
    transform: scale(0) !important;
    transition: all .5s cubic-bezier(.175,.885,.32,1.275) !important;
}

#register-wrapper,
#login-wrapper,
#feedback-wrapper,
#registration-confirmation {
    max-height: 10000px;
    height: calc(100% - 72px - 68px);
    transition: all 0.5s ease;
}

#register-wrapper > *,
#login-wrapper > *,
#feedback-wrapper > *,
#registration-confirmation > * {
    opacity: 1;
    transition: all 0.5s ease;
}

#register-wrapper.hidden-options,
#login-wrapper.hidden-options,
#feedback-wrapper.hidden-options,
#registration-confirmation.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0;
    transition: all 0.5s ease;
}

#register-wrapper.hidden-options > *,
#login-wrapper.hidden-options > *,
#feedback-wrapper.hidden-options > *,
#registration-confirmation.hidden-options > * {
    opacity: 0;
    transition: all 0.5s ease;
}

#main-section-wrapper {
    max-height: 10000px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#main-section-wrapper > * {
    opacity: 1;
    transition: all 0.5s ease;
}

#main-section-wrapper.hidden-options {
    padding: 0 !important;
    max-height: 0;
    transition: all 0.5s ease;
}

#main-section-wrapper.hidden-options > * {
    opacity: 0;
    transition: all 0.5s ease;
}

#front-page-footer {
    position: absolute;
    top: calc(100% - 68px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#register-wrapper .form-header,
#login-wrapper .form-header {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    color: var(--color-ghost-white);
    text-align: center;
}

input {
    appearance: none;
    outline: none;
    margin: 0;
    border: none;
    width: 100%;
    padding: 0.5rem 2.5rem;
    background-color: var(--color-ghost-white);
    color: var(--color-smoky-black);
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1em;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    text-align: center;
}

input:active,
input:focus,
input:hover {
    background-color: var(--color-black-coral);
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.input-wrapper {
    position: relative;
}

.icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

input:active + .icon-left,
input:focus + .icon-left,
input:hover + .icon-left {
    color: var(--color-ghost-white);
}

.icon-validation {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

input:active + .icon-validation,
input:focus + .icon-validation,
input:hover + .icon-validation {
    color: var(--color-ghost-white);
}

.icon-valid {
    color: var(--color-mountain-meadow);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.icon-invalid {
    color: var(--color-copper-red);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);

}

#register-wrapper input[type="text"],
#login-wrapper input[type="text"] {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#register-wrapper input[name="confirm-password"],
#login-wrapper input[name="password"] {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

button {
    border: none;
}

.status-failure {
    color: var(--color-copper-red);
    font-size: 1.1rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}


.status-ok,
.registration-cofirmation-text {
    color: var(--color-mountain-meadow);
    font-size: 1.1rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.registration-cofirmation-text {
    font-size: 1.25rem;
}

.input-valid {
    background-color: rgb(168, 255, 232) !important;
    color: var(--color-smoky-black) !important;
}

.input-invalid {
    background-color:rgb(255, 143, 106) !important;
    color: var(--color-smoky-black) !important;
}

.submit-feedback {
    background-color: var(--color-ghost-white);
    border-radius: 1rem;
    overflow: hidden;
}

/* .registration-feedback svg {
} */

.error-icon-wrapper {
    color: var(--color-smoky-black);
    font-size: 1.25rem;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    cursor: pointer;
}

.error-icon-wrapper:hover {
    color: var(--color-ghost-white);
    background-color: rgb(250, 62, 0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.feedback-wrapper,
#registration-confirmation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    overflow-y: scroll;
}

#registration-confirmation {
    overflow: hidden;
    border-radius: 1rem;
}