/* CSS Variables */
:root {
    --color-ghost-white: rgb(247, 247, 255);
    --color-copper-red: rgb(207, 95, 58);
    --color-mountain-meadow: rgb(34, 191, 149);
    --color-carolina-blue: #279AF1;
    --color-black-coral: #60656F;
    --color-smoky-black: #131112;
    --color-black-olive: rgb(52, 54, 51);
    --color-space-cadet: rgb(32, 30, 80);
    --color-corn: #F5E960;
    /* --color-xiketic: #1C0B19; */
    /* --navbar-height: 55px;
    --navbar-offset: 75px;
    --main-body-height: 75vh;
    --day-tab-width: 96px; */
}

/* Fonts */
@font-face {
  font-family: 'chiller';
  src: url('../../fonts/CHILLER.TTF')  format('truetype');
}

/* General styling */
html {
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

section {
    height: calc(100% - 72px - 68px);
}

footer p {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem;
}

/* .logo {
    display: flex;
} */

.logo-img {
    height: 42px;
    object-fit: cover;
}

.logo-text {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 2rem;
    
}

/* Utility classes */
.hide {
    display: none !important;
    opacity: 0;
}

/* Backgrounds, text colors */
/* .background-columbia-blue-gradient {
    background: rgb(210,236,255);
    background: linear-gradient(rgba(210,236,255,1) 0%, rgba(129,166,211,1) 100%);
} */

.background-ghost-white {
    background-color: var(--color-ghost-white);
}

.background-ghost-white-gradient {
    background:  rgb(247, 247, 255);
    background: linear-gradient(rgb(247, 247, 255) 0%,  rgb(52, 54, 51) 100%);
}

.background-copper-red {
    background-color: var(--color-copper-red);
}

.background-copper-red-gradient {
    background: rgb(207, 95, 58);
    background: linear-gradient(rgb(207, 95, 58) 0%,  rgb(255, 166, 136) 100%);
}

.background-mountain-meadow {
    background-color: var(--color-mountain-meadow);
}

.background-carolina-blue {
    background-color: var(--color-carolina-blue);
}

/* .background-little-boy-blue-gradient {
    background: rgb(129,166,211);
    background: linear-gradient(rgba(93,115,167,1) 0%, rgba(28,11,25,1) 100%);
} */

.background-black-coral {
    background-color: var(--color-black-coral);
}

.background-smoky-black {
    background-color: var(--color-smoky-black);
}

/* .background-dark-cornflower-blue-gradient {
    background: rgb(57,64,123);
    background: linear-gradient(rgba(57,64,123,1) 0%, rgba(28,11,25,1) 100%);
} */

.background-black-olive {
    background-color: var(--color-black-olive);
}


.background-space-cadet {
    background-color: var(--color-space-cadet);
}

.background-space-cadet-gradient {
    background: rgb(32, 30, 80);
    background: linear-gradient(rgb(32, 30, 80) 0%, #8E8EFF 100%);
}

.background-corn {
    background-color: var(--color-corn);
}

.text-ghost-white {
    color: var(--color-ghost-white) !important;
}

.text-copper-red {
    color: var(--color-copper-red);
}

.text-mountain-meadow {
    color: var(--color-mountain-meadow);
}

.text-carolina-blue {
    color: var(--color-carolina-blue);
}

.text-black-coral {
    color: var(--color-black-coral);
}

.text-smoky-black {
    color: var(--color-smoky-black) !important;
}

.text-black-olive {
    color: var(--color-black-olive);
}

.text-space-cadet {
    color: var(--color-space-cadet);
}

.text-corn {
    color: var(--color-corn);
}

/* Buttons */


.btn {
    text-decoration: none;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-smoky-black);
    padding: 0.2rem 1.25rem 0.1rem 1.25rem;
    margin-bottom: 0.5rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
    cursor: pointer;
    /* GENERALIZE FOR ALL BUTTONS!!! */
    appearance: none;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

.btn-small {
    font-size: 1.25rem;
}

.btn-vertical {
    height: 100%;
    max-height: 100%;
}

.side-btn {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
}

.control-btn {
    text-decoration: none;
    font-size: 1.25rem;
    width: auto;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 1em;
}
.icon.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.control-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    pointer-events: none;
}
.control-btn.disabled span {
    color: var(--color-black-coral) !important;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.control-btn.disabled:active::before,
.control-btn.disabled:focus::before,
.control-btn.disabled:hover::before {
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn-invert {
    background-color: var(--color-ghost-white);
}

#create-quiz-form label {
    display: block;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: -0.5rem;
    color: var(--color-ghost-white);
}

option {
    text-transform: uppercase !important;
}

.btn::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: var(--color-carolina-blue);
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn-vertical::before {
    transform: scaleY(0);
}

.btn:active::before,
.btn:focus::before,
.btn:hover::before,
.btn:checked::before {
    transform: scaleX(1);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn-vertical:active::before,
.btn-vertical:focus::before,
.btn-vertical:hover::before {
    transform: scaleY(1);
}





/* a:hover {
    color: var(--color-ghost-white);
} */

.btn span,
.side-btn {
    color: var(--color-ghost-white);
    position: relative;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn-invert span {
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.control-btn span {
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.control-btn:active span,
.control-btn:focus span,
.control-btn:hover span {
    color: var(--color-carolina-blue) !important;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled span,
.btn:disabled span {
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.btn.disabled:active::before,
.btn.disabled:focus::before,
.btn.disabled:hover::before,
.btn:disabled::before {
    transform: scaleX(0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}


/* Frontpage logo animation */
.face {
    position: absolute;
    width: 125px;
    height: 125px;
    line-height: 125px;
    font-size: 125px;
    text-align: center;
}

.perspective-box-far {
    width: 125px;
    height: 125px;
    transform-style: preserve-3d;
    margin: auto;
    transition: all 0.3s ease-in;
    transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    animation: floating 1.5s alternate backwards infinite ease-in-out;
}

.box-floating {
    width: 125px;
    height: 125px;
    margin: auto;
    transition: all 0.3s ease-in;
    position: relative;
    animation: floating-browse 1.5s alternate backwards infinite ease-in-out;
}

.top {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    animation: floating-top 1.5s alternate backwards infinite ease-in-out;
}

.left {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    animation: floating-left 1.5s alternate backwards infinite ease-in-out;
}

.front {
    background-color: var(--color-corn);
    border: 1px solid black;
    transform: translate3d(0, 0, 62.5px);
    animation: floating-front 1.5s alternate backwards infinite ease-in-out;
}

.db-disc-top,
.db-disc-middle,
.db-disc-bottom {
    margin: -1rem auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.db-disc-middle {
    top: 35px;
    z-index: 1;
}

.db-disc-bottom {
    top: 70px;
    z-index: 0;
}

@keyframes floating {
    0%   {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    }
    100% {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg) translateY(-15px);
    }
}
@keyframes floating-browse {
    0%   {
        transform: none;
    }
    100% {
        transform: translateY(-15px);
    }
}
@keyframes floating-top {
    0%   {
        transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateX(90deg) translate3d(0, 0, 67.5px);
    }
}
@keyframes floating-left {
    0%   {
        transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateY(-90deg) translate3d(-5px, 5px, 67.5px);
    }
}
@keyframes floating-front {
    0%   {
        transform: translate3d(0, 0, 62.5px);
    }
    100% {
        transform: translate3d(5px, 5px, 67.5px);
    }
}

.loader-wrapper {
    animation: loader 1s forwards ease-in-out;
}

.loader-face-front {
    animation: loader-front 1s forwards ease-in-out;
}

.loader-face-top {
    animation: loader-top 1s forwards ease-in-out;
}

.loader-face-left {
    animation: loader-left 1s forwards ease-in-out;
}

@keyframes loader {
    0%   {
        transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    }
    100% {
        transform: perspective(0) rotateX(0) rotateY(0) translateY(0);
    }
}
@keyframes loader-top {
    0%   {
        transform: rotateX(90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateX(0) translate3d(0, 0, 0);
    }
}
@keyframes loader-left {
    0%   {
        transform: rotateY(-90deg) translate3d(0, 0, 62.5px);
    }
    100% {
        transform: rotateY(0) translate3d(0, 0, 0);
    }
}
@keyframes loader-front {
    0%   {
        transform: translate3d(0, 0, 62.5px);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.strip-background-border {
    background: none;
    border: none;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
}

.start-loader {
    animation: loader-start 1.5s 0.5s alternate backwards infinite cubic-bezier(.175,.885,.32,1.275);
    transition: all 0.5s ease;
}

@keyframes loader-start {
    0%   {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

.button-dissapear {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    max-width: 0;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

#front-page-main-content-wrapper,
#logged-in-main-content-wrapper {
    transform: scale(1);
    max-height: 10000px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.roll-up {
    max-height: 0px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.logo-disappear {
    animation: none;
    transform: scale(0);
    transition: all 0.3s ease-in;
}

.logo-enlarge {
    transform: scale(1.75);
    transition: all 0.5s cubic-bezier(.87,2.5,.81,.35);
}

.hidden {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    max-width: 0;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.buttons-wrapper {
    height: 100%;
    max-height: 175px;
}

.button-wrapper-primary {
    height: 100%;
}

.button-wrapper-secondary {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#options-wrapper,
#options-wrapper-welcome,
#quiz-view-wrapper,
#hint-wrapper {
    position: absolute;
    z-index: 10;
    top: 72px;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100% - 72px - 68px);
    width: 100%;
    /* padding: 2rem; */
    background-color: var(--color-ghost-white);
    max-height: 10000px;
    transition: all .5s ease;
}

#options-wrapper.options-welcome,
#quiz-view-wrapper {
    height: calc(100% - 71px);
    border-top: 1px solid var(--color-smoky-black);
    overflow: scroll;
}

#hint-wrapper {
    top: 0;
    height: 100%;
    background-color: var(--color-smoky-black);
}

hr {
    width: 90%;
    border: 1px solid var(--color-ghost-white);
    margin: 0.5rem auto;
    background-color: var(--color-ghost-white);
    height: 2px;
}

#options-wrapper ul,
#options-wrapper-welcome ul,
#quiz-view-wrapper > *,
.logout-confirmation-wrapper > *,
.quiz-quit-confirmation-wrapper > *,
#quiz-answers-wrapper > *,
#quiz-content > *,
#quiz-results > *,
.loader-wrapper,
#hint-wrapper > * {
    opacity: 1;
    transition: all .5s ease;
}

.loader-wrapper {
    transition: all 0s;
}

.logout-confirmation-wrapper,
.quiz-quit-confirmation-wrapper {
    max-height: 150px;
    transition: all .5s ease;
}

.logout-confirmation-wrapper .btn,
.quiz-quit-confirmation-wrapper .btn {
    width: auto;
}

#options-wrapper.hidden-options,
#options-wrapper-welcome.hidden-options,
#quiz-view-wrapper.hidden-options,
.logout-confirmation-wrapper.hidden-options,
.quiz-quit-confirmation-wrapper.hidden-options,
#quiz-answers-wrapper > div.hidden-options,
#quiz-content.hidden-options,
#quiz-results.hidden-options,
.loader-wrapper.hidden-options,
#hint-wrapper.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0;
    transition: all .5s ease;
}
.loader-wrapper.hidden-options {
    transition: all 0s;
}

#options-wrapper.hidden-options ul,
#options-wrapper-welcome.hidden-options ul,
#quiz-view-wrapper.hidden-options > *,
.logout-confirmation-wrapper.hidden-options > *,
.quiz-quit-confirmation-wrapper.hidden-options > *,
#quiz-answers-wrapper > div.hidden-options > *,
#quiz-content.hidden-options > *,
#quiz-results.hidden-options > *,
.loader-wrapper.hidden-options > *,
#hint-wrapper.hidden-options > * {
    opacity: 0;
    transition: all .5s ease;
}
.loader-wrapper.hidden-options > * {
    transition: all 0s;
}

.shrink {
    transform: scale(0) !important;
    transition: all .5s cubic-bezier(.175,.885,.32,1.275) !important;
}

.overlay,
.error-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 100;
}
.error-overlay {
    background-color: rgba(255, 121, 121, .9);
    font: 2rem !important;
    color: var(--color-smoky-black) !important;
}
.error-overlay > p {
    font-size: 2rem !important;
    font-weight: bold;
    color: var(--color-smoky-black) !important;
}

#register-wrapper,
#login-wrapper,
#register-feedback-wrapper,
#register-confirmation,
#login-confirmation,
#generate-confirmation,
#login-feedback-wrapper,
#create-quiz-feedback-wrapper,
#welcome-wrapper,
#browse-wrapper,
#quiz-info-wrapper,
#create-quiz-wrapper,
#front-page-footer {
    max-height: 10000px;
    height: calc(100% - 72px - 68px);
    transition: all 0.5s ease;
}

#welcome-wrapper,
.welcome-wrapper,
#browse-wrapper,
#quiz-info-wrapper,
#create-quiz-wrapper {
    height: calc(100% - 72px);
}

#front-page-footer {
    height: auto;
    transform: translateY(0);
}

#browse-wrapper {
    overflow: auto;
}

#browse-wrapper > div:first-child {
    position: sticky;
    top: 0;
    left: 0;
}

#register-wrapper > *,
#login-wrapper > *,
#register-feedback-wrapper > *,
#register-confirmation > *,
#login-confirmation > *,
#generate-confirmation > *,
#login-feedback-wrapper > *,
#create-quiz-feedback-wrapper > *,
#welcome-wrapper > *,
#browse-wrapper > *,
#quiz-info-wrapper > *,
#create-quiz-wrapper > *,
#front-page-footer > * {
    opacity: 1;
    /* z-index: 2; */
    transition: all 0.5s ease;
}

#register-wrapper.hidden-options,
#login-wrapper.hidden-options,
#register-feedback-wrapper.hidden-options,
#register-confirmation.hidden-options,
#login-confirmation.hidden-options,
#generate-confirmation.hidden-options,
#login-feedback-wrapper.hidden-options,
#create-quiz-feedback-wrapper.hidden-options,
#welcome-wrapper.hidden-options,
#browse-wrapper.hidden-options,
#quiz-info-wrapper.hidden-options,
#create-quiz-wrapper.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0;
    transition: all 0.5s ease;
}
#front-page-footer.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    transform: translateY(68px);
    transition: all 0.5s ease;
}

#create-quiz-wrapper {
    overflow: scroll;
}

#register-wrapper.hidden-options > *,
#login-wrapper.hidden-options > *,
#register-feedback-wrapper.hidden-options > *,
#register-confirmation.hidden-options > *,
#login-confirmation.hidden-options > *,
#generate-confirmation.hidden-options > *,
#login-feedback-wrapper.hidden-options > *,
#create-quiz-feedback-wrapper.hidden-options > *,
#welcome-wrapper.hidden-options > *,
#browse-wrapper.hidden-options > *,
#quiz-info-wrapper.hidden-options > *,
#create-quiz-wrapper.hidden-options > *,
#front-page-footer.hidden-options > * {
    opacity: 0;
    transition: all 0.5s ease;
}

#main-section-wrapper {
    max-height: 10000px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#main-section-wrapper > * {
    opacity: 1;
    transition: all 0.5s ease;
}

#main-section-wrapper.hidden-options {
    padding: 0 !important;
    max-height: 0;
    transition: all 0.5s ease;
}

#main-section-wrapper.hidden-options > * {
    opacity: 0;
    transition: all 0.5s ease;
}

#front-page-footer {
    position: absolute;
    top: calc(100% - 68px);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#register-wrapper .form-header,
#login-wrapper .form-header,
#filter-quiz-wrapper .form-header,
#search-quiz-wrapper .form-header,
#create-quiz-feedback-wrapper .form-header,
#create-quiz-wrapper .form-header {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    color: var(--color-ghost-white);
    text-align: center;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"] {
    appearance: none;
    outline: none;
    margin: 0;
    border: none;
    width: 100%;
    padding: 0.5rem 2.5rem;
    background-color: var(--color-ghost-white);
    color: var(--color-smoky-black);
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1em;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    text-align: center;
}

input:active,
input:focus,
input:hover {
    background-color: var(--color-black-coral);
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.input-wrapper {
    position: relative;
}

.icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

#create-quiz-wrapper .icon-left {
    left: -3px;
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
#create-quiz-wrapper .input-valid + .icon-left,
#create-quiz-wrapper .input-invalid + .icon-left {
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

input:active + .icon-left,
input:focus + .icon-left,
input:hover + .icon-left {
    color: var(--color-ghost-white);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

select:active + .icon-left,
select:focus + .icon-left,
select:hover + .icon-left {
    color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.icon-validation {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

select ~ .icon-validation {
    right: 25px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
.number-input-wrapper input ~ .icon-validation {
    top: 2px;
    right: 55px;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
.input-hint {
    width: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
img,
.face {
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
.input-hint:hover,
.logo img:hover,
.face:hover {
    filter: contrast(2);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

/* input + .icon-validation,
input.input-invalid + .icon-validation {
    z-index: -1;
}
input.input-valid + .icon-validation {
    z-index: 0;
} */

/* input:active + .icon-validation,
input:focus + .icon-validation,
input:hover + .icon-validation {
    color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}
input:active ~ .icon-validation,
input:focus ~ .icon-validation,
input:hover ~ .icon-validation {
    color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
} */
/* select:active + .icon-validation,
select:focus + .icon-validation,
select:hover + .icon-validation {
    color: var(--color-black-coral);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
} */

.icon-valid {
    color: var(--color-mountain-meadow);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.icon-invalid {
    color: var(--color-copper-red);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);

}

#register-wrapper input[type="text"],
#login-wrapper input[type="email"] {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#register-wrapper input[name="confirm-password"],
#login-wrapper input[name="password"] {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

button {
    border: none;
    outline: none;
}

.status-failure {
    color: var(--color-copper-red);
    font-size: 1.1rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}


.status-ok,
.register-cofirmation-text,
.login-confirmation-text,
.generate-confirmation-text,
.username-info-text,
.logout-confirmation-text,
.quiz-quit-confirmation-text {
    color: var(--color-mountain-meadow);
    font-size: 1.1rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.username-info-text,
.logout-confirmation-text,
.quiz-quit-confirmation-text {
    color: var(--color-smoky-black);
    font-size: 1.25rem;
    padding: 1rem 0;
}

.logout-confirmation-text,
.quiz-quit-confirmation-text {
    padding: 0.5rem 0;
}

.register-confirmation-text,
.login-confirmation-text,
.generate-confirmation-text {
    font-size: 1.25rem;
}

.input-valid {
    background-color: rgb(168, 255, 232) !important;
    color: var(--color-smoky-black) !important;
}

.input-invalid {
    background-color:rgb(255, 143, 106) !important;
    color: var(--color-smoky-black) !important;
}
p.input-invalid,
p.input-valid {
    border-radius: 10px;
    padding: 0.5rem;
}

.submit-feedback {
    background-color: var(--color-ghost-white);
    border-radius: 1rem;
    overflow: hidden;
}

.error-icon-wrapper {
    color: var(--color-smoky-black);
    font-size: 1.25rem;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    cursor: pointer;
}

.error-icon-wrapper:hover {
    color: var(--color-ghost-white);
    background-color: rgb(250, 62, 0);
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

.more-info-wrapper,
#filter-quiz-wrapper,
#search-quiz-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: calc(100%);
    transform: scaleY(1);
    overflow: hidden;
    transition: all 0.5s ease;
}

.more-info-wrapper > *,
#filter-quiz-wrapper > *,
#search-quiz-wrapper > * {
    opacity: 1;
    transition: all 0.5s ease;
}

.more-info-wrapper.scaleY,
#filter-quiz-wrapper.scaleY,
#search-quiz-wrapper.scaleY {
    padding: 0 !important;
    transform: scaleY(0);
    z-index: 0;
    transition: all 0.5s ease;
}

.more-info-wrapper.scaleY > *,
#filter-quiz-wrapper.scaleY > *,
#search-quiz-wrapper.scaleY > * {
    opacity: 0;
    transition: all 0.5s ease;
}

.feedback-wrapper,
#register-confirmation,
#login-confirmation,
#generate-confirmation,
#quiz-info-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    overflow-y: scroll;
}

#register-confirmation,
#login-confirmation {
    overflow: hidden;
    border-radius: 1rem;
}
#generate-confirmation {
    overflow: hidden;
    border-radius: 0rem;
}

.quiz-display-wrapper {
    height: 100%;
}

.quiz {
    font-size: 1.25rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    height: 100%;
}

.quiz > div > div {
    border-radius: 0.5rem;
    overflow: hidden;
}

.more-info-wrapper {
    border-radius: 0 !important;
}

.acronyms {
    font-size: 1.5rem;
    background-color: var(--color-space-cadet);
    color: var(--color-ghost-white);
}
.definitions {
    font-size: 1.5rem;
    background-color: var(--color-copper-red);
    color: var(--color-ghost-white);
}

.quiz-header-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-corn);
    border-radius: 50%;
    border: 1px solid var(--color-smoky-black);
}

.swiped-right,
.swiped-left,
.more-info-quiz-info {
    height: 100%;
}

.filter-label {
    font-size: 1.25rem;
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    transition: all 0.35s cubic-bezier(.175,.885,.32,1.275);
}

/* Custom Select, Input, Textarea, Pagination, Link Styling */

#create-quiz-wrapper input::placeholder {
    color: var(--color-ghost-white) !important;
    opacity: 1 !important;
}

select:focus,
select:hover,
select:active,
#create-quiz-wrapper input:focus,
#create-quiz-wrapper input:hover,
#create-quiz-wrapper input:active,
#create-quiz-wrapper input:focus::placeholder,
#create-quiz-wrapper input:hover::placeholder,
#create-quiz-wrapper input:active::placeholder {
    color: var(--color-black-coral) !important;
	box-shadow: none !important;
	outline: 2px solid var(--color-carolina-blue) !important;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
}

.select {
    width: 100%;
    height: auto;
}

#create-quiz-wrapper select,
#create-quiz-wrapper input {
    border: none !important;
	border-radius: 0 !important;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
    width: 100%;
    background-color: var(--color-smoky-black);
    color: var(--color-ghost-white);
    text-align: center !important;
    height: auto !important;
}

input:invalid {
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
}

select::after {
    color: var(--color-smoky-black) !important;
}

.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: var(--color-ghost-white);
}
#create-quiz-wrapper .select:not(.is-multiple):not(.is-loading)::after {
    z-index: 0;
}

/* #filter-quiz-wrapper > div:first-child {
    height: 100%;
} */

/* input[type="number"] */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.number-input {
    border: 0;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-smoky-black);
    color: var(--color-ghost-white);
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: 0px 0px 5px var(--color-ghost-white);
    border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 2rem;
    height: 0.25rem;
    background-color: var(--color-ghost-white);
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: 'chiller', Arial, Helvetica, sans-serif !important;
  max-width: 7rem;
  padding: 0rem .5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
}

.select select,
select option,
#create-quiz-wrapper input[type=text] {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem;
}

.select:not(.is-multiple) {
    height: auto;
}

.quiz-view-questions,
.quiz-view-header-text {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.5rem;
    color: var(--color-ghost-white);
}
.quiz-view-questions {
    color: var(--color-smoky-black);
}

.quiz-view-question-text,
.quiz-view-answer-text {
    border: 2px solid var(--color-copper-red);
    background-color: var(--color-smoky-black);
    border-radius: 0.5rem;
    width: 100%;
}
.quiz-view-answer-text {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.1rem;
    color: var(--color-ghost-white);
}
p {
    font-family: 'chiller', Arial, Helvetica, sans-serif !important;
    font-size: 1.1rem;
}

#quiz-view-wrapper form {
    width: 100%;
}

#quiz-view-wrapper input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#quiz-view-wrapper label {
    display: block;
    position: relative;
}

#quiz-score {
    background-color: var(--color-space-cadet);
    color: var(--color-corn);
    font-family: chiller;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 5px solid var(--color-corn);
}

.quiz-li-feedback.input-valid {
    border: 2px solid var(--color-mountain-meadow);
    padding: 0.5rem;
    font-size: 1rem;
    font-family: chiller;
    text-align: center;
    position: relative;
}
.quiz-li-feedback.input-invalid {
    border: 2px solid var(--color-copper-red);
    padding: 0.5rem;
    font-size: 1rem;
    font-family: chiller;
    text-align: center;
    position: relative;
}

ul {
    width: 100%;
}

.quiz-li-feedback .icon-validation {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}

.loader {
  border: 10px solid var(--color-corn);
  border-top: 10px solid var(--color-space-cadet);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-wrapper2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}