/* CSS Variables */
:root {
    --color-ghost-white: rgb(247, 247, 255);
    --color-copper-red: rgb(207, 95, 58);
    --color-mountain-meadow: rgb(34, 191, 149);
    --color-carolina-blue: rgb(39, 154, 241);
    --color-black-coral: rgb(96, 101, 111);
    --color-smoky-black: rgb(19, 17, 18);
    --color-black-olive: rgb(52, 54, 51);
    --color-space-cadet: rgb(32, 30, 80);
    --color-corn: rgb(245, 233, 96);
    --font-stack: 'chiller', Arial, Helvetica, sans-serif !important;
    --navbar-height: 72px;
    --footer-height: 68px;
    --transition-bezier: all 0.35s cubic-bezier(.175,.885,.32,1.275);
    --transition-ease: all 0.5s ease;
    --logo-height: 125px;
    --logo-width: 125px;
    --loader-height: 120px;
    --loader-width: 120px;
    --loader-thickness: 10px;
}
/* Fonts */
@font-face {
  font-family: 'chiller';
  src: url('../../fonts/CHILLER.TTF')  format('truetype');
}
/* General styling */
html {
    overflow: hidden;
}
body {
    height: 100vh;
}
section {
    height: calc(100% - var(--navbar-height) - var(--footer-height));
}
hr {
    width: 90%;
    border: 1px solid var(--color-ghost-white);
    margin: 0.5rem auto;
    background-color: var(--color-ghost-white);
    height: 2px;
}
ul {
    width: 100%;
}
option {
    text-transform: uppercase !important;
}
button {
    border: none;
    outline: none;
}
/* Backgrounds */
.background-ghost-white {
    background-color: var(--color-ghost-white);
    filter: contrast(1.25);
}
.background-ghost-white-gradient {
    background: linear-gradient( rgb(52, 54, 51) 0%, rgb(247, 247, 255) 100%);
    filter: contrast(1.25);
}
.background-copper-red {
    background-color: var(--color-copper-red);
    filter: contrast(1.25);
}
.background-copper-red-gradient {
    background: linear-gradient(rgb(207, 95, 58) 0%,  rgb(255, 166, 136) 100%);
    filter: contrast(1.25);
}
.background-mountain-meadow {
    background-color: var(--color-mountain-meadow);
    filter: contrast(1.25);
}
.background-mountain-meadow-gradient {
    background: linear-gradient( rgb(0, 75, 55) 0%, rgb(34, 191, 149) 100%);
    filter: contrast(1.25);
}
.background-carolina-blue {
    background-color: var(--color-carolina-blue);
    filter: contrast(1.25);
}
.background-carolina-blue-gradient {
    background: linear-gradient(rgb(39, 154, 241) 0%,  rgb(0, 92, 163) 100%);
    filter: contrast(1.25);
}
.background-black-coral {
    background-color: var(--color-black-coral);
    filter: contrast(1.25);
}
.background-black-coral-gradient {
    background: linear-gradient(rgb(96, 101, 111) 0%,  rgb(61, 62, 63) 100%);
    filter: contrast(1.25);
}
.background-smoky-black {
    background-color: var(--color-smoky-black);
    filter: contrast(1.25);
}
.background-smoky-black-gradient {
    background: linear-gradient(rgb(19, 17, 18) 0%,  rgb(105, 105, 105) 100%);
    filter: contrast(1.25);
}
.background-black-olive {
    background-color: var(--color-black-olive);
    filter: contrast(1.25);
}
.background-black-olive-gradient {
    background: linear-gradient(rgb(52, 54, 51) 0%,  rgb(128, 128, 128) 100%);
    filter: contrast(1.25);
}
.background-space-cadet {
    background-color: var(--color-space-cadet);
    filter: contrast(1.25);
}
.background-space-cadet-gradient {
    background: linear-gradient(rgb(32, 30, 80) 0%, rgb(142, 142, 255) 100%);
    filter: contrast(1.25);
}
.background-corn {
    background-color: var(--color-corn);
    filter: contrast(1.25);
}
.background-corn-gradient {
    background: linear-gradient(rgb(94, 90, 48) 0%, rgb(245, 233, 96) 100%);
    filter: contrast(1.25);
}
/* Text colors */
.text-ghost-white {
    color: var(--color-ghost-white);
}
.text-copper-red {
    color: var(--color-copper-red);
}
.text-mountain-meadow {
    color: var(--color-mountain-meadow);
}
.text-carolina-blue {
    color: var(--color-carolina-blue);
}
.text-black-coral {
    color: var(--color-black-coral);
}
.text-smoky-black {
    color: var(--color-smoky-black);
}
.text-black-olive {
    color: var(--color-black-olive);
}
.text-space-cadet {
    color: var(--color-space-cadet);
}
.text-corn {
    color: var(--color-corn);
}
/* Text */
/* Paragraph */
p {
    font-family: var(--font-stack);
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: var(--color-ghost-white);
}
.error-overlay > p {
    font-size: 2rem !important;
    font-weight: bold;
    color: var(--color-smoky-black) !important;
}
.quiz-li-feedback p {
    font-size: 1.1rem;
    color: var(--color-smoky-black);
}
#hint-wrapper p {
    font-size: 1rem;
}
#front-page-footer p {
    font-size: 1.25rem;
}
/* Classes */
.logo-text {
    font-family: var(--font-stack);
    letter-spacing: 2px;
    font-size: 2rem;
}
.form-header {
    font-family: var(--font-stack);
    letter-spacing: 2px;
    color: var(--color-ghost-white);
    text-align: center;
    margin-top: 1rem;
}
.filter-label {
    font-size: 1.25rem;
    font-family: var(--font-stack);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: var(--transition-bezier);
}
.quiz {
    font-size: 1.25rem;
    font-family: var(--font-stack);
    letter-spacing: 2px;
    height: 100%;
    transition: var(--transition-bezier);
}
.quiz-view-question,
.quiz-view-questions,
#create-quiz-wrapper .select select,
#create-quiz-wrapper select option,
#create-quiz-wrapper input[type=text],
#quiz-view-wrapper label {
    font-family: var(--font-stack);
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: var(--color-ghost-white);
}
#quiz-view-wrapper label {
    font-size: 1.1rem;
}
.quiz-view-question-wrapper,
.quiz-view-answer-wrapper {
    border: 2px solid var(--color-copper-red);
    background-color: var(--color-smoky-black);
    border-radius: 0.5rem;
    width: 100%;
}
.quiz-view-answer-wrapper {
    border: 2px solid var(--color-mountain-meadow);
}
.status-failure,
.status-ok,
.register-cofirmation-text,
.login-confirmation-text,
.generate-confirmation-text,
.logout-confirmation-text,
.quiz-quit-confirmation-text {
    color: var(--color-mountain-meadow);
    font-size: 1.1rem;
    font-family: var(--font-stack);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.status-failure {
    color: var(--color-copper-red);
}
.logout-confirmation-text,
.quiz-quit-confirmation-text,
.register-confirmation-text,
.login-confirmation-text,
.generate-confirmation-text {
    color: var(--color-smoky-black);
    font-size: 1.25rem;
    padding: 0.5rem 0;
}
#create-quiz-form label {
    display: block;
    font-family: var(--font-stack);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: -0.5rem;
    color: var(--color-ghost-white);
}
/* Buttons */
.btn {
    /* GENERALIZE FOR ALL BUTTONS!!! */
    appearance: none;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-smoky-black);
    color: var(--color-ghost-white);
    padding: 0.2rem 1.25rem 0.1rem 1.25rem;
    margin-bottom: 0.5rem;
    font-family: var(--font-stack);
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: var(--transition-bezier);
}
.btn::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: var(--color-carolina-blue);
    transform: scaleX(0);
    transition: var(--transition-bezier);
}
.btn:active,
.btn:focus,
.btn:hover,
.side-btn:active,
.side-btn:focus,
.side-btn:hover {
    color: var(--color-smoky-black);
    transition: var(--transition-bezier);
}
.btn:active::before,
.btn:focus::before,
.btn:hover::before,
.btn:checked::before {
    transform: scaleX(1);
    transition: var(--transition-bezier);
}
.btn.disabled,
.btn:disabled {
    background-color: var(--color-black-coral);
    color: var(--color-ghost-white);
    transition: var(--transition-bezier);
}
.btn.disabled:active::before,
.btn.disabled:focus::before,
.btn.disabled:hover::before,
.btn:disabled::before {
    transform: scaleX(0);
    transition: var(--transition-bezier);
}
.btn-small {
    font-size: 1.25rem;
}
.btn-vertical {
    height: 100%;
    max-height: 100%;
}
.btn-vertical::before {
    transform: scaleY(0);
}
.btn-vertical:active::before,
.btn-vertical:focus::before,
.btn-vertical:hover::before {
    transform: scaleY(1);
}
.side-btn {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: var(--font-stack);
    text-transform: uppercase;
    color: var(--color-ghost-white);
    position: relative;
    transition: var(--transition-bezier);
}
.control-btn {
    text-decoration: none;
    font-size: 1.25rem;
    width: auto;
    font-family: var(--font-stack);
    text-transform: uppercase;
    color: var(--color-ghost-white);
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 1em;
    transition: var(--transition-bezier);
}
.control-btn:active,
.control-btn:focus,
.control-btn:hover {
    color: var(--color-carolina-blue) !important;
    transition: var(--transition-bezier);
}
.control-btn.disabled {
    color: var(--color-black-coral);
    transition: var(--transition-bezier);
}
.control-btn.disabled:active::before,
.control-btn.disabled:focus::before,
.control-btn.disabled:hover::before {
    transform: scaleX(0);
    transition: var(--transition-bezier);
}
.btn-invert {
    background-color: var(--color-ghost-white);
    color: var(--color-smoky-black);
}
.btn span,
.btn-invert span,
.control-btn span {
    position: relative;
    transition: var(--transition-bezier);
}
.button-dissapear {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    max-width: 0;
    transition: var(--transition-bezier);
}
.buttons-wrapper {
    height: 100%;
    max-height: 175px;
}
.button-wrapper-primary {
    height: 100%;
}
.button-wrapper-secondary {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
/* Utility classes */
.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: var(--transition-bezier);
}
.hide {
    display: none !important;
    opacity: 0;
}
.shrink {
    transform: scale(0) !important;
    transition: all .5s cubic-bezier(.175,.885,.32,1.275) !important;
}
.overlay,
.error-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 100;
}
.error-overlay {
    background-color: rgba(255, 121, 121, .9);
    font: 2rem !important;
    color: var(--color-smoky-black) !important;
}
.logo-dimensions {
    width: var(--logo-width);
    height: var(--logo-height);
}
.scale-content {
    transform: scale(1);
    max-height: 10000px;
    transition: var(--transition-bezier);
}
.logo-enlarge {
    transform: scale(1.75);
    transition: all 0.5s cubic-bezier(.87,2.5,.81,.35);
}
.acronyms {
    font-size: 1.5rem;
    background-color: var(--color-space-cadet);
    color: var(--color-ghost-white);
}
.definitions {
    font-size: 1.5rem;
    background-color: var(--color-copper-red);
    color: var(--color-ghost-white);
}
.logo-img {
    height: 42px;
    object-fit: cover;
}
/* Logo & loader animations */
.face {
    position: absolute;
    text-align: center;
}
.perspective-box-far {
    transform-style: preserve-3d;
    margin: auto;
    transition: all 0.3s ease-in;
    transform: perspective(10cm) rotateX(-30deg) rotateY(45deg);
    animation: floating 1.5s alternate backwards infinite ease-in-out;
}
.box-floating {
    margin: auto;
    transition: all 0.3s ease-in;
    position: relative;
    animation: floating-browse 1.5s alternate backwards infinite ease-in-out;
}
.top {
    background-color: var(--color-corn);
    border: 1px solid var(--color-space-cadet);
    transform: rotateX(90deg) translate3d(0, 0, calc(var(--logo-width) / 2));
    animation: floating-top 1.5s alternate backwards infinite ease-in-out;
}
.left {
    background-color: var(--color-corn);
    border: 1px solid var(--color-space-cadet);
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--logo-height) / 2));
    animation: floating-left 1.5s alternate backwards infinite ease-in-out;
}
.front {
    background-color: var(--color-corn);
    border: 1px solid var(--color-space-cadet);
    transform: translate3d(0, 0, calc(var(--logo-width) / 2));
    animation: floating-front 1.5s alternate backwards infinite ease-in-out;
}
@keyframes floating {
    0%   { transform: perspective(10cm) rotateX(-30deg) rotateY(45deg); }
    100% { transform: perspective(10cm) rotateX(-30deg) rotateY(45deg) translateY(-15px); }
}
@keyframes floating-browse {
    0%   { transform: none; }
    100% { transform: translateY(-15px); }
}
@keyframes floating-top {
    0%   { transform: rotateX(90deg) translate3d(0, 0, calc(var(--logo-width) / 2)); }
    100% { transform: rotateX(90deg) translate3d(0, 0, calc(var(--logo-width) / 2 + 5px)); }
}
@keyframes floating-left {
    0%   { transform: rotateY(-90deg) translate3d(0, 0, calc(var(--logo-height) / 2)); }
    100% { transform: rotateY(-90deg) translate3d(-5px, 5px, calc(var(--logo-width) / 2 + 5px)); }
}
@keyframes floating-front {
    0%   { transform: translate3d(0, 0, calc(var(--logo-width) / 2)); }
    100% { transform: translate3d(5px, 5px, calc(var(--logo-width) / 2 + 5px)); }
}
.loader-wrapper {
    animation: loader 1s forwards ease-in-out;
}
.loader-face-front {
    animation: loader-front 1s forwards ease-in-out;
}
.loader-face-top {
    animation: loader-top 1s forwards ease-in-out;
}
.loader-face-left {
    animation: loader-left 1s forwards ease-in-out;
}
@keyframes loader {
    0%   { transform: perspective(10cm) rotateX(-30deg) rotateY(45deg); }
    100% { transform: perspective(0) rotateX(0) rotateY(0) translateY(0); }
}
@keyframes loader-top {
    0%   { transform: rotateX(90deg) translate3d(0, 0, calc(var(--logo-width) / 2)); }
    100% { transform: rotateX(0) translate3d(0, 0, 0); }
}
@keyframes loader-left {
    0%   { transform: rotateY(-90deg) translate3d(0, 0, calc(var(--logo-height) / 2)); }
    100% { transform: rotateY(0) translate3d(0, 0, 0); }
}
@keyframes loader-front {
    0%   { transform: translate3d(0, 0, calc(var(--logo-width) / 2)); }
    100% { transform: translate3d(0, 0, 0); }
}
.strip-background-border {
    background: none;
    border: none;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
}
.start-loader {
    animation: loader-start 1.5s 0.5s alternate backwards infinite cubic-bezier(.175,.885,.32,1.275);
    transition: var(--transition-ease);
}
@keyframes loader-start {
    0%   { transform: rotate3d(0, 0, 0, 0); }
    100% { transform: rotate3d(1, 0, 0, 360deg); }
}
.loader {
  border: var(--loader-thickness) solid var(--color-corn);
  border-top: var(--loader-thickness) solid var(--color-space-cadet);
  border-radius: 50%;
  width: var(--loader-width);
  height: var(--loader-height);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.secondary-loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.db-disc-top,
.db-disc-middle,
.db-disc-bottom {
    margin: -1rem auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    transition: var(--transition-bezier);
}
.create-quiz-logo img:hover {
    transition: var(--transition-bezier);
}
.db-disc-top:hover,
.db-disc-middle:hover,
.db-disc-bottom:hover,
.create-quiz-logo img:hover {
    filter: contrast(2);
    transition: var(--transition-bezier);
}
.db-disc-middle {
    top: 35px;
    z-index: 1;
}
.db-disc-bottom {
    top: 70px;
    z-index: 0;
}
/* Screen sizing */
.more-info-wrapper,
#filter-quiz-wrapper,
#search-quiz-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: calc(100%);
    transform: scaleY(1);
    overflow: hidden;
    transition: var(--transition-ease);
}
.more-info-wrapper.scaleY,
#filter-quiz-wrapper.scaleY,
#search-quiz-wrapper.scaleY {
    padding: 0 !important;
    transform: scaleY(0);
    z-index: 0;
    transition: var(--transition-ease);
}
.feedback-wrapper,
#register-confirmation,
#login-confirmation,
#generate-confirmation,
#quiz-info-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    overflow-y: scroll;
}
#register-confirmation,
#login-confirmation {
    overflow: hidden;
    border-radius: 1rem;
}
#generate-confirmation {
    overflow: hidden;
    border-radius: 0rem;
}
.quiz-display-wrapper {
    height: 100%;
}
.position-guest-mode {
    position: absolute;
    z-index: 10;
    top: var(--navbar-height);
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100% - var(--navbar-height) - var(--footer-height));
    width: 100%;
    max-height: 10000px;
    transition: all .5s ease;
}
#options-wrapper.options-welcome,
#quiz-view-wrapper,
#main-section-wrapper.welcome-wrapper,
#browse-wrapper,
#quiz-info-wrapper,
#create-quiz-wrapper {
    height: calc(100% - var(--navbar-height));
    overflow: scroll;
}
#hint-wrapper {
    top: 0;
    height: 100%;
    overflow: scroll;
}
.logout-confirmation-wrapper,
.quiz-quit-confirmation-wrapper {
    max-height: 150px;
    transition: all .5s ease;
}
.logout-confirmation-wrapper .btn,
.quiz-quit-confirmation-wrapper .btn {
    width: auto;
}
#options-wrapper ul,
#quiz-view-wrapper > *,
.logout-confirmation-wrapper > *,
.quiz-quit-confirmation-wrapper > *,
#quiz-answers-wrapper > *,
#quiz-content > *,
#quiz-results > *,
#hint-wrapper > *,
#register-wrapper > *,
#login-wrapper > *,
#register-feedback-wrapper > *,
#register-confirmation > *,
#login-confirmation > *,
#generate-confirmation > *,
#login-feedback-wrapper > *,
#create-quiz-feedback-wrapper > *,
#browse-wrapper > *,
#quiz-info-wrapper > *,
#create-quiz-wrapper > *,
#front-page-footer > *,
#main-section-wrapper > *,
.more-info-wrapper > *,
#filter-quiz-wrapper > *,
#search-quiz-wrapper > * {
    opacity: 1;
    transition: var(--transition-ease);
}
#options-wrapper.hidden-options,
#quiz-view-wrapper.hidden-options,
.logout-confirmation-wrapper.hidden-options,
.quiz-quit-confirmation-wrapper.hidden-options,
#quiz-answers-wrapper > div.hidden-options,
#quiz-content.hidden-options,
#quiz-results.hidden-options,
#hint-wrapper.hidden-options,
#register-wrapper.hidden-options,
#login-wrapper.hidden-options,
#register-feedback-wrapper.hidden-options,
#register-confirmation.hidden-options,
#login-confirmation.hidden-options,
#generate-confirmation.hidden-options,
#login-feedback-wrapper.hidden-options,
#create-quiz-feedback-wrapper.hidden-options,
#browse-wrapper.hidden-options,
#quiz-info-wrapper.hidden-options,
#create-quiz-wrapper.hidden-options,
#main-section-wrapper.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0;
    transition: var(--transition-ease);
}
#options-wrapper.hidden-options ul,
#quiz-view-wrapper.hidden-options > *,
.logout-confirmation-wrapper.hidden-options > *,
.quiz-quit-confirmation-wrapper.hidden-options > *,
#quiz-answers-wrapper > div.hidden-options > *,
#quiz-content.hidden-options > *,
#quiz-results.hidden-options > *,
#hint-wrapper.hidden-options > *,
#register-wrapper.hidden-options > *,
#login-wrapper.hidden-options > *,
#register-feedback-wrapper.hidden-options > *,
#register-confirmation.hidden-options > *,
#login-confirmation.hidden-options > *,
#generate-confirmation.hidden-options > *,
#login-feedback-wrapper.hidden-options > *,
#create-quiz-feedback-wrapper.hidden-options > *,
#browse-wrapper.hidden-options > *,
#quiz-info-wrapper.hidden-options > *,
#create-quiz-wrapper.hidden-options > *,
#front-page-footer.hidden-options > *,
#main-section-wrapper.hidden-options > *,
.more-info-wrapper.scaleY > *,
#filter-quiz-wrapper.scaleY > *,
#search-quiz-wrapper.scaleY > * {
    opacity: 0;
    transition: var(--transition-ease);
}
#register-wrapper,
#login-wrapper,
#register-feedback-wrapper,
#register-confirmation,
#login-confirmation,
#generate-confirmation,
#login-feedback-wrapper,
#create-quiz-feedback-wrapper,
#browse-wrapper,
#quiz-info-wrapper,
#create-quiz-wrapper,
#front-page-footer,
#main-section-wrapper {
    max-height: 10000px;
    height: calc(100% - var(--navbar-height) - var(--footer-height));
    overflow: scroll;
    transition: var(--transition-ease);
}
#browse-wrapper,
#quiz-info-wrapper,
#create-quiz-wrapper {
    height: calc(100% - var(--navbar-height));
}
#browse-wrapper > div:first-child {
    position: sticky;
    top: 0;
    left: 0;
}
#front-page-footer {
    height: var(--footer-height);
    transform: translateY(0);
}
#front-page-footer.hidden-options {
    overflow: hidden;
    padding: 0 !important;
    transform: translateY(var(--footer-height));
    transition: var(--transition-ease);
}
#front-page-footer {
    position: absolute;
    top: calc(100% - var(--footer-height));
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
}
/* Input, select, option, form, button */
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"] {
    appearance: none;
    outline: none;
    margin: 0;
    border: none;
    width: 100%;
    padding: 0.5rem 2.5rem;
    background-color: var(--color-ghost-white);
    color: var(--color-smoky-black);
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1em;
    transition: var(--transition-bezier);
    text-align: center;
}
input:active,
input:focus,
input:hover,
input:disabled {
    background-color: var(--color-black-coral);
    color: var(--color-ghost-white);
    transition: var(--transition-bezier);
}
input:active + .icon-left,
input:focus + .icon-left,
input:hover + .icon-left,
input:disabled + .icon-left {
    color: var(--color-ghost-white);
    transition: var(--transition-bezier);
}

select:active + .icon-left,
select:focus + .icon-left,
select:hover + .icon-left,
select:disabled + .icon-left {
    color: var(--color-black-coral);
    transition: var(--transition-bezier);
}
#register-wrapper input[type="text"],
#login-wrapper input[type="email"] {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#register-wrapper input[name="confirm-password"],
#login-wrapper input[name="password"] {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#quiz-view-wrapper form {
    width: 100%;
}
#quiz-view-wrapper input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#quiz-view-wrapper label {
    display: block;
    position: relative;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.number-input {
    border: 0;
    display: inline-flex;
}
.number-input,
.number-input * {
    box-sizing: border-box;
}
.number-input button {
    outline:none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-smoky-black);
    color: var(--color-ghost-white);
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    box-shadow: 0px 0px 5px var(--color-ghost-white);
    border-radius: 50%;
}
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 2rem;
    height: 0.25rem;
    background-color: var(--color-ghost-white);
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  font-family: var(--font-stack);
  max-width: 7rem;
  padding: 0rem .5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
}
.select:not(.is-multiple) {
    height: auto;
}
#create-quiz-wrapper input::placeholder {
    color: var(--color-ghost-white) !important;
    opacity: 1 !important;
}
select:focus,
select:hover,
select:active,
#create-quiz-wrapper input:focus,
#create-quiz-wrapper input:hover,
#create-quiz-wrapper input:active,
#create-quiz-wrapper input:focus::placeholder,
#create-quiz-wrapper input:hover::placeholder,
#create-quiz-wrapper input:active::placeholder {
    color: var(--color-black-coral) !important;
	box-shadow: none !important;
	outline: 2px solid var(--color-carolina-blue) !important;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
}
.select {
    width: 100%;
    height: auto;
}
#create-quiz-wrapper select,
#create-quiz-wrapper input {
    border: none !important;
	border-radius: 0 !important;
    transition: all 0.1s cubic-bezier(.175,.885,.32,1.275);
    width: 100%;
    background-color: var(--color-smoky-black);
    color: var(--color-ghost-white);
    text-align: center !important;
    height: auto !important;
    line-height: 1.125em;
}
input:invalid {
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
}
select::after {
    color: var(--color-smoky-black) !important;
}
.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: var(--color-ghost-white);
}
#create-quiz-wrapper .select:not(.is-multiple):not(.is-loading)::after {
    z-index: 0;
}
.input-valid {
    background-color: rgb(168, 255, 232) !important;
    color: var(--color-smoky-black) !important;
}
.input-invalid {
    background-color:rgb(255, 143, 106) !important;
    color: var(--color-smoky-black) !important;
}
p.input-invalid,
p.input-valid {
    border-radius: 10px;
    padding: 0.5rem;
}
.submit-feedback {
    background-color: var(--color-ghost-white);
    border-radius: 1rem;
    overflow: hidden;
}
/* Icons */
.icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.25rem;
    width: 2.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: var(--transition-bezier);
}
#create-quiz-wrapper .icon-left {
    left: -3px;
    top: -2px;
    color: var(--color-ghost-white);
    transition: var(--transition-bezier);
}
#create-quiz-wrapper .input-valid + .icon-left,
#create-quiz-wrapper .input-invalid + .icon-left {
    color: var(--color-smoky-black);
    transition: var(--transition-bezier);
}
.icon-validation {
    position: absolute;
    top: 0;
    right: 0;
    height: 2.25rem;
    width: 2.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-smoky-black);
    transition: var(--transition-bezier);
}
select ~ .icon-validation {
    right: 25px;
    transition: var(--transition-bezier);
}
.number-input-wrapper input ~ .icon-validation {
    top: 5px;
    right: 55px;
    transition: var(--transition-bezier);
}
.input-hint {
    width: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: var(--transition-bezier);
}
.icon-valid {
    color: var(--color-mountain-meadow);
    transition: var(--transition-bezier);
}

.icon-invalid {
    color: var(--color-copper-red);
    transition: var(--transition-bezier);

}
.quiz-li-feedback.input-valid,
.quiz-li-feedback.input-invalid {
    border: 2px solid var(--color-mountain-meadow);
    padding: 0.5rem;
    font-size: 1rem;
    font-family: var(--font-stack);
    text-align: center;
    position: relative;
}
.quiz-li-feedback.input-invalid {
    border: 2px solid var(--color-copper-red);
}
.quiz-li-feedback .icon-validation {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
}
.error-icon-wrapper {
    color: var(--color-smoky-black);
    font-size: 1.25rem;
    transition: var(--transition-bezier);
    cursor: pointer;
}
.error-icon-wrapper:hover {
    color: var(--color-ghost-white);
    background-color: rgb(250, 62, 0);
    transition: var(--transition-bezier);
}
.quiz-header-icon {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-corn);
    border-radius: 50%;
    text-transform: uppercase;
    border: 1px solid var(--color-smoky-black);
    justify-content: center;
    align-items: center;
}
/* Miscellaneous */
img,
.face {
    transition: var(--transition-bezier);
}
.input-hint:hover,
.logo img:hover,
.face:hover {
    filter: contrast(2);
    transition: var(--transition-bezier);
}
#quiz-score {
    background-color: var(--color-space-cadet);
    color: var(--color-corn);
    font-family: chiller;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 5px solid var(--color-corn);
}
.swiped-right,
.swiped-left,
.more-info-quiz-info {
    height: 100%;
}
.quiz > div > div {
    border-radius: 0.5rem;
    overflow: hidden;
}
.more-info-wrapper {
    border-radius: 0 !important;
}
/* MQs */
@media screen and (min-width: 415px) and (orientation: portrait) {
    :root {
        --logo-width: 200px;
        --logo-height: 200px;
        --navbar-height: 84px;
        --footer-height: 74px;
        --loader-height: 175px;
        --loader-width: 175px;
        --loader-thickness: 20px;
    }
    #front-page-logo.logo-dimensions {
        margin-bottom: 3rem;
    }
    .logo-text {
        font-size: 2.5rem;
    }
    #hint-wrapper p,
    .status-failure, .status-ok, .register-cofirmation-text, .login-confirmation-text, .generate-confirmation-text, .logout-confirmation-text, .quiz-quit-confirmation-text {
        font-size: 1.25rem;
    }
    #quiz-view-wrapper label {
        font-size: 1.35rem;
    }
}
@media screen and (min-width: 576px) and (orientation: portrait) {
    :root {
        --footer-height: 74px;
    }
    .btn {
        font-size: 2.25rem;
    }
    .btn-small,
    .side-btn,
    .control-btn {
        font-size: 1.75rem;
    }
    .quiz-header-icon {
        width: 3rem;
        height: 3rem;
    }
    .definitions,
    .quiz-header-name,
    #front-page-footer p {
        font-size: 2rem;
    }
    #quiz-content > div,
    #quiz-results,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 3rem 4rem !important;
    }
    #options-wrapper ul,
    #quiz-results,
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-secondary {
        width: auto !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #quiz-results {
        margin: 0 4rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 4rem !important;
    }
    .quiz-view-answer-wrapper {
        margin: 1rem 0 !important;
    }
    .quiz-view-question,
    .quiz-view-questions {
        font-size: 2rem;
        padding: 0 1.5rem;
    }
    #quiz-view-wrapper label,
    .more-info-quiz-info p,
    .login-confirmation-text,
    .quiz-li-feedback.input-valid p, .quiz-li-feedback.input-invalid p,
    #hint-wrapper p,
    .status-failure, .status-ok, .register-cofirmation-text, .login-confirmation-text, .generate-confirmation-text, .logout-confirmation-text, .quiz-quit-confirmation-text,
    .error-icon-wrapper, p {
        font-size: 1.75rem;
    }
    .quiz-li-feedback .icon-validation {
        font-size: 1.75rem;
        width: 2rem;
        height: 2rem;
    }
    #quiz-score {
        width: 8rem;
        height: 8rem;
        font-size: 3.5rem;
        margin: 2rem auto;
    }
    .input-hint {
        width: 4rem;
    }
    .icon,
    .logo-img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .icon > * {
        font-size: 3rem;
    }
    input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
        height: 3.5rem;
        font-size: 1.5rem;
    }
    .icon-validation > *,
    .icon-left > * {
        font-size: 2rem;
    }
    .icon-left {
        top: 10px;
        left: 5px;
    }
    #register-wrapper .icon-validation,
    #login-wrapper .icon-validation {
        top: 10px;
        right: 5px;
    }
    select ~ .icon-validation {
        right: 50px;
    }
    hr {
        width: auto;
    }
}
@media screen and (max-height: 568px) and (orientation: landscape) {
    :root {
        --logo-width: 70px;
        --logo-height: 70px;
        --footer-height: 74px;
        --loader-height: 50px;
        --loader-width: 50px;
        --loader-thickness: 7.5px;
    }
    #front-page-footer {
        display: none;
    }
    #main-section-wrapper,
    #options-wrapper,
    #register-wrapper,
    #login-wrapper {
        height: calc(100% - var(--navbar-height));
    }
    #hint-wrapper {
        height: 450px;
    }
    #quiz-content > div,
    #quiz-results,
    #create-quiz-form,
    #options-wrapper ul {
        margin: 1rem 4rem !important;
    }
    hr {
        width: auto;
    }
    #options-wrapper ul,
    #quiz-results,
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-secondary {
        width: auto !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #login-form,
    .more-info-quiz-info,
    #register-form,
    .feedback-body,
    .quiz {
        margin: 0 4rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 4rem !important;
    }
    .buttons-wrapper {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .btn {
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .btn-small,
    .side-btn,
    .control-btn {
        font-size: 1.15rem;
    }
    .quiz > div > div {
        overflow: hidden;
    }
    .quiz div.more-info-wrapper {
        overflow: scroll !important;
    }
    .logout-confirmation-text, .quiz-quit-confirmation-text, .register-confirmation-text, .login-confirmation-text, .generate-confirmation-text {
        padding: 0;
    }
    #logged-in-main-content-wrapper .logo-dimensions {
        display: none;
    }
    #generate-quiz-loader img {
        height: 75px;
    }
    .username-text-info,
    .logout-confirmation-btn-wrapper {
        margin: 0 !important;
    }
}
@media screen and (max-height: 720px) and (orientation: landscape) {
    :root {
        --logo-width: 125px;
        --logo-height: 125px;
        --footer-height: 74px;
        --loader-height: 100px;
        --loader-width: 100px;
        --loader-thickness: 12.5px;
    }
}
@media screen and (min-width: 992px) {
    :root {
        --footer-height: 74px;
    }
    .btn {
        font-size: 2.25rem;
    }
    .btn-small,
    .side-btn,
    .control-btn {
        font-size: 1.75rem;
    }
    .quiz-header-icon {
        width: 3rem;
        height: 3rem;
    }
    .definitions,
    .quiz-header-name,
    #front-page-footer p {
        font-size: 2rem;
    }
    #options-wrapper ul,
    #quiz-results,
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-secondary {
        width: auto !important;
    }
    .quiz-view-answer-wrapper {
        margin: 1rem 0 !important;
    }
    .quiz-view-question,
    .quiz-view-questions {
        font-size: 2rem;
        padding: 0 1.5rem;
    }
    #quiz-view-wrapper label,
    .more-info-quiz-info p,
    .login-confirmation-text,
    .quiz-li-feedback.input-valid p, .quiz-li-feedback.input-invalid p,
    #hint-wrapper p,
    .status-failure, .status-ok, .register-cofirmation-text, .login-confirmation-text, .generate-confirmation-text, .logout-confirmation-text, .quiz-quit-confirmation-text,
    .error-icon-wrapper, p {
        font-size: 1.75rem;
    }
    .quiz-li-feedback .icon-validation {
        font-size: 1.75rem;
        width: 2rem;
        height: 2rem;
    }
    #quiz-score {
        width: 8rem;
        height: 8rem;
        font-size: 3.5rem;
        margin: 2rem auto;
    }
    .input-hint {
        width: 4rem;
    }
    .icon,
    .logo-img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .icon > * {
        font-size: 3rem;
    }
    input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
        height: 3.5rem;
        font-size: 1.5rem;
    }
    .icon-validation > *,
    .icon-left > * {
        font-size: 2rem;
    }
    .icon-left {
        top: 10px;
        left: 5px;
    }
    #register-wrapper .icon-validation,
    #login-wrapper .icon-validation {
        top: 10px;
        right: 5px;
    }
    select ~ .icon-validation {
        right: 50px;
    }
    hr {
        width: auto;
    }
    #quiz-content > div,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 3rem 10rem !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #quiz-results {
        margin: 0 10rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 10rem !important;
    }
}
@media screen and (min-width: 1200px) {
    #quiz-content > div,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 3rem 15rem !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #quiz-results {
        margin: 0 15rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 15rem !important;
    }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
    #quiz-content > div,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 1rem 15rem !important;
    }
}
@media screen and (min-width: 1500px) {
    #quiz-content > div,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 3rem 20rem !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #quiz-results {
        margin: 0 20rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 20rem !important;
    }
}
@media screen and (min-width: 1800px) {
    #quiz-content > div,
    .quiz,
    .more-info-quiz-info,
    #register-form,
    #login-form,
    #create-quiz-form,
    #options-wrapper ul,
    .feedback-body {
        margin: 3rem 25rem !important;
    }
    .quiz-quit-confirmation-wrapper,
    .button-wrapper-primary,
    .button-wrapper-secondary,
    #quiz-results {
        margin: 0 25rem !important;
    }
    #hint-wrapper > * {
        margin: 0.5rem 25rem !important;
    }
}